#avatar-container {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.avatar {
    width: 100%;
    transition: transform 0.2s;
}

#button-container {
    text-align: center;
    margin-top: 20px;
}

#start-btn {
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4CAF50; /* Зеленый цвет */
    color: white;
    border: none;
    border-radius: 10px; /* Закругленные углы */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень */
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Плавный переход */
}

#start-btn:hover {
    background-color: #45a049; /* Цвет кнопки при наведении */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Увеличиваем тень при наведении */
}

#start-btn:active {
    background-color: #3e8e41; /* Цвет кнопки при нажатии */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Уменьшаем тень при нажатии */
    transform: translateY(2px); /* Немного "опускаем" кнопку при нажатии */
}
